@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #716154;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
a:hover{
    color: #fff;
    letter-spacing: 1.5px
}

h2{
    letter-spacing: 1px;
    margin-bottom: 40px;
}

p{
    letter-spacing: 1px;
    line-height: 30px;
}

.wrapper{
    position: relative;
    overflow-x: hidden;
}
/* NAVBAR */
.navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: #52473e ;
    z-index: 999;
    transition: 0.5s ease-out;
    transform: translateX(250px);
}

.home-logo{
    position: absolute;
    top: 0;
}

ul{
    width: 100%;
    list-style: none;
    padding: 40px 0px;
}

ul li{
    text-align: center;
    display: block;
    width: 100%
}

ul li a{
    color: #fff;
    padding: 15px 0;
    text-decoration: none;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
}

ul.dropdown {
    font-size: 12px;
    padding: 0;
    height: 0px;
    overflow: hidden;
    transition: 0.3s;
}

#dd-parent a{
    color: #fff;
    cursor: pointer;
}

#dd-parent a span{
    position: absolute;
    margin-left: 30px;
}

#dd-parent a span i{
    font-size: 10px;
    transition: 0.3s;
}

#dd-parent.active ul.dropdown {
    height: 100px;
}

#dd-parent.active a span i{
    transform: rotate(180deg);
}

#toggle{
    z-index: 9999;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 rgba(255, 255, 255, 0.5);
}
#toggle:hover::before{
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 0 rgba(255, 255, 255, 1);
}

#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}

#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    transform: translateY(10px);
}
#toggle:hover::after{
    background: rgba(255, 255, 255, 1);
}

#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

#toggle.active ~ .navbar {
    transform: translateX(0px);
}
/*END NAVBAR*/

/*SECTION-1*/
.section-1{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(0,0,0,0), #716154), url("./images/section-1-bg.jpg") center center;
    opacity: 0;
}
.section-1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #716154, transparent);
}

.section-1 h1{
    font-size: 10vw;
    letter-spacing: 6px;
    color: #d5a176;
}

.section-1 img{
    max-height: 120vh;
    opacity: 0;
}
/*END SECTION-1*/

/*SECTION-2*/
.section-2{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 .slogan{
    text-align: center;
}
/*END SECTION-2*/

/*SECTION-3*/
.section-3{
    min-height: 100vh;
    position: relative;
    background: radial-gradient(rgba(0,0,0,0), #716154), url("./images/section-3-bg.jpg") center center;
}

.section-3::before{
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #716154, transparent);
}

.section-3::after{
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #716154, transparent);
}
/*END SECTION-3*/

/*SECTION-4*/
.section-4{
    overflow: hidden;
    min-height: 600px;
}

.section-4 i{
    font-size: 100px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.section-4 a:hover i{
    transform: translateY(-10px);
}
/*END SECTION-4*/

/*SECTION-5*/
.section-5{
    min-height: 100vh;
    position: relative;
    background: radial-gradient(rgba(0,0,0,0), #716154), url("./images/section-5-bg.jpg") center center;
    overflow: hidden;
}

.section-5::before{
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #716154, transparent);
}

.section-5::after{
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #716154, transparent);
}

.section-5 .logo{
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.3s;
}
.section-5 .logo:hover{
    filter: grayscale(0%);
}
/*END SECTION-5*/